.mainWrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.mainHeader{
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding: 0 50px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    background: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainHeader_left{
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.mainHeader_left img{
    width: 100%;
    height: 100%;
}
.mainHeader_right{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    display: flex;
}
.mainHeader_right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}
.right{
    display: flex;
    align-items: center;
}
.loading{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    left: 200px;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}