.classmate_search{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.main{
    width: 100%;
    display: flex;

}

.detail{
    flex: 1;
    border-radius: 10px;
}

.gam{
    width: 400px;
}


.gamChild{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    position: fixed;
    top: 189px;
    margin: 0 auto;
}

.img{
    width: 880px;
    
}
.img img{
    width: 800px;
}

.answ pre{
    width: 400px;
}
.cover:hover{
    background: #f7f8ff
}

h3{
    position: relative;
    padding-left: 22px;
}
h3 p::after {
    content: "";
    width: 300px;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 12px;
    left: 90px;
  }
  h3 p::before {
    content: "";
    width: 20px;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 12px;
    left: 0;
  }