.classmate_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main{
    width: 100%;
    display: flex;

}

.detail{
    flex: 1;
    border-radius: 10px;
}

.gam{
    width: 400px;
}


.gamChild{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    position: fixed;
    top: 189px;
    margin: 0 auto;
}