.classmate_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail{
    width: 880px;
    border-radius: 10px;
}

.gam{
    position: fixed;
    right: 30px;
    top: 189px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
}