.addMain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.addMain_sec{
    width: 33.3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}